<!doctype HTML>
<html>
	<head>
		<title> Tic-Tac-Toe </title>
		<meta charset = "utf8">
		<link rel = "stylesheet" type = "text/css" href = "/css/main.css">
	</head>
	<body>
		<div class = "header"> Tic-Tac-Toe </div>
		<div class = "gridCont">
			<div class = "grid">
				<div class = "row">
					<div class = "col">
					</div><div class = "col">
					</div><div class = "col">
					</div>
				</div>
				<div class = "row">
					<div class = "col">
					</div><div class = "col">
					</div><div class = "col">
					</div>
				</div>
				<div class = "row">
					<div class = "col col">
					</div><div class = "col">
					</div><div class = "col">
					</div>
				</div>
			</div>
		</div>
		<div class = "restartDiv">
			<button class = "restartButton"> Restart Game </button>
		</div>
		<div class = "error">
			
		</div>
		<script src = "/js/main.js">	</script>
	</body>
</html>