@font-face {
	src: url('/fonts/antipasto.otf');
	font-family: antipasto;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.header {
	text-align: center;
	font-size: 3em;
	font-family: antipasto;
	padding: 20px 20px 20px 20px;
	color: grey;
}

.gridCont {
	width: 100%;
	text-align: center;
}

.grid {
	display: inline-block;
	width: 400px;
	height: 400px;
}

.row {
	width: 100%;
	height: 33.33%;
	margin-bottom: 5px;
}

.col {
	width: 30%;
	height: 100%;
	margin-left: 5px;
	display: inline-block;
	border: 3px solid grey;
	vertical-align: top;
	line-height: 140px;
	font-family: antipasto;
	color: grey;
	font-size: 5em;
	cursor: pointer;
}

.error {
	width: 100%;
	text-align: center;
	font-family: antipasto;
	color: grey;
	margin-top: 20px;
	font-size: 2em;
}

.restartDiv {
	width: 100%;
	text-align: center;
}

.restartButton {
	background-color: white;
	border: 2px solid grey;
	padding: 10px 20px;
	font-size: 1.2em;
	font-family: antipasto;
	color: grey;
	margin-top: 30px;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.restartButton:hover {
	background-color: grey;
	color: white;
}